@page
@model IndexModel
@{
    Layout = "_LayoutLoginAndRegister";
    ViewData["Title"] = "Pré-Cadastro";
}

<main class="container">
    <form class="col-md-12 col-sm-12" method="post" asp-page="Cadastro">
        <div class="form-inline login-form col-md-7 col-xs-12">
            <div class="form-group col-md-1 col-xs-12">
                <i class="material-icons email-icon">email</i>
            </div>
            <div class="form-group col-md-5 col-xs-12">
                <input type="text" class="form-control input-color" required id="nome" name="nome" asp-for="@Model.CadastroDTO.Nome" placeholder="Nome e Sobrenome">
            </div>
            <div class="form-group col-md-6 col-xs-12">
                <input type="email" class="form-control input-color" required id="email" name="email" asp-for="@Model.CadastroDTO.Email" placeholder="seuemail@seuemail.com">
            </div>
        </div>
        <div class="col-md-7 col-xs-12">
            <div class="col-md-6 col-xs-12">
                <button type="submit" class="btn orange-btn col-md-8 col-xs-12">Abra sua Conta</button>
            </div>
        </div>
    </form>
</main>